$yellow: #f5fc6d

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color:  #f5fc6d;
}
footer{
    margin-top: 10px;
    color: lightblue;
    background-color: #bebebe;
    padding: 10px,10px,0,10px;
}
.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
.footer-address-icon{
    padding-right: 50px;
}
.btn-leermas{
    width: 100%;
    border-radius: 0px;
}
.card-img-top{
    width: 150px;
}
.tab-content{
    padding-top: 2px;
}
.breadcrumb{
    font-weight: bold;
    background-color: rgb(148, 148, 184);
}